import streamlit as st
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.common.alert import Alert
from matplotlib import rc
from bs4 import BeautifulSoup
import time
import re
import os
from collections import Counter
import platform